.mesr{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgb(7, 7, 7);
    width: 100%;
}
.mesr_top{
    display: flex;
    border-bottom: 1px solid #cac9c9;
    padding-bottom: 15px;
    padding: 15px;
}
.mesr_top > form{
    flex: 1;
    display: flex;
}
.mesr_top > form > input{
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #cac9c9;
} 
.mesr_top > form > button{
    display: none;
}
.input{
    flex: 1;
}
.mesr_bottom{
    display: flex;
    justify-content: space-between;
}
.mesr_option{
    padding: 20px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}
.mesr_option >h3{
    font-size: medium;
    margin-left: 10px;
    cursor: pointer;
}
.mesr_option:hover{
    background-color: #cac9c9;
    border-radius: 20px;
}
